				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html">Accueil</a></li>
										<li><a href="presentation.html">Presentation</a></li>
										<li><a href="colloque.html">Colloque</a></li>
										<li>
                                            <span class="opener">Textes</span>
											<ul>
                                                <li><a href="#">Liste des textes</a></li>
												<li><a href="#">Ci nous dit</a></li>
												<li><a href="#">Christine de Pizan, Dit de la Rose</a></li>
												<li><a href="#">Remède de Fortune</a></li>
												<li><a href="#">Jean de Condé</a></li>
											</ul>
										</li>
                                        <li><a href="index.html">Bibliographie</a></li>
									</ul>
								</nav>

				
								

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">Ce projet est publié sous licence <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.fr">Creative
                                        Commons Attribution, Partage dans les mêmes conditions 4.0</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>