				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/Dits-du-Moyen-Age/index.html">Accueil</a></li>
										<li><a href="/Dits-du-Moyen-Age/presentation.html">Presentation</a></li>
										<li><a href="/Dits-du-Moyen-Age/colloque.html">Colloque</a></li>
										<li><a href="/Dits-du-Moyen-Age/blog.html">Blog</a></li>
                                        <li>
                                            <span class="opener">Textes</span>
											<ul>
                                                <li><a href="textes.html">Liste des textes</a></li>
												<li><a href="#">Baudouin de Condé, <cite>Dit du wardecors</cite> / <cite>Dit du Garde-Corps</cite></a></li>
												<li><a href="#">Baudouin de Condé, <cite>Dit du dragon</cite></a></li>
												<li><a href="#">Baudouin de Condé, <cite>Conte de gentilleche</cite></a></li>
												<li><a href="#">Baudouin de Condé, <cite>Conte de l’olifant</cite></a></li>
                                                <li><a href="#">Baudouin de Condé, <cite>Dit de la Rose</cite></a></li>
												<li><a href="#">Christine de Pizan, <cite>Dit de la Rose</cite></a></li>
                                                <li><a href="#">Guillaume de Machaut, <cite>Remède de Fortune</cite></a></li>
												<li><a href="#">Jean de Condé, <cite>Dit d’entendement</cite></a></li>
                                                <li><a href="#">Jean de Condé, <cite>Dit de deus loiaus compaignons</cite></a></li>
												<li><a href="#">Jean de Condé, <cite>Dit de Franchise</cite></a></li>
                                                <li><a href="#">Jean de Condé, <cite>Dit du roi et des ermites</cite></a></li>
												<li><a href="#">Jean de Condé, <cite>La messe des oiseaux</cite></a></li>
                                                <li><a href="#">Jean de Condé, <cite>Dit des Jacobins et des Fremeneurs</cite></a></li>
                                                <li><a href="#">Jean de Condé, <cite>Du clerc qui fut repus deriere l’escring</cite></a></li>
                                                <li><a href="#">Jean de Saint-Quentin, <cite>Dit du buef</cite></a></li>
                                                <li><a href="#">Jean de Saint-Quentin, <cite>Dit des trois chanoinnes</cite></a></li>
                                                <li><a href="#">Nicole de Margival, <cite>Dit de la panthère d’amour</cite></a></li>
                                                <li><a href="#"><cite>Ci nous dit</cite></a></li>
											</ul>
										</li>
                                        <li><a href="bibliographie.html">Bibliographie</a></li>
									</ul>
								</nav>

				
								

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">Ce projet est publié sous licence <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.fr">Creative
                                        Commons Attribution, Partage dans les mêmes conditions 4.0</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>
